<section class="list-page-container">
  <div class="list-page-header">
    <div class="list-page-header-site">
      <app-site-selector (onSiteSelected)="onSelectSite()"></app-site-selector>
      <div *ngIf="(thingsCount$ && (thingsCount$ | async) >= 0)">
        <div class="divider list-page__divider"></div>
        <mat-spinner
          *ngIf="(isFetchingThings$ | async); else total"
          [diameter]="'24'"
        ></mat-spinner>
        <ng-template #total>
          <div class="list-page-people-counter">
            {{ thingsCount$ | async }} {{ "LIST.PEOPLE" | translate }}
          </div>
        </ng-template>
      </div>
    </div>
    <div class="list-page-header-alert">
      <app-alert
        *ngIf="this.showDeviceGroupDisclaimer"
        [text]="'DISCLAIMERS.DEVICE_GROUP' | translate"
      ></app-alert>
    </div>
  </div>
  <app-real-time-events-selector></app-real-time-events-selector>
  <div class="list-page-body-container">
    <div
      class="list-page-update-container"
      *ngIf="(refreshTimeInfo$ | async) as refreshTimeInfo"
    >
      <span>
        {{ refreshTimeInfo | date: ("LIST.REFRESHED" | translate) }}
      </span>
      <mat-icon
        class="list-page-disclaimer-icon"
        [matTooltip]="'LIST.INTERVAL_DISCLAIMER' | translate"
      >
        info_outline
      </mat-icon>
    </div>

    <section class="list-page-card-container">
      <app-card>
        <div
          class="list-page-card-header"
          *ngIf="canViewSensitiveData || isControlCenterProfile"
        >
          <app-button (click)="exportExcel()" [upperCased]="true">
            {{ "LIST.EXPORT" | translate }}
          </app-button>
        </div>

        <div class="list-page-table-container">
          <table
            mat-table
            matSort
            [dataSource]="(isFetchingThings$ | async) && !(thingsCount$ | async) ? skeletonArray : tableDataSource"
            class="table-list"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>
                {{ "LIST.NAME" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <div *ngIf="!!thing && !thing?.name">-</div>
                {{ thing?.name }}
              </td>
            </ng-container>
            <ng-container
              matColumnDef="documentId"
              *ngIf="canViewSensitiveData"
            >
              <th mat-header-cell mat-sort-header="document" *matHeaderCellDef>
                {{ "LIST.REGISTRATION_DOC" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <div *ngIf="!!thing && !thing?.document">-</div>
                {{ thing?.document }}
              </td>
            </ng-container>
            <ng-container matColumnDef="lastReport">
              <th
                mat-header-cell
                mat-sort-header="eventDateTime"
                *matHeaderCellDef
              >
                {{ "LIST.LAST_REPORT" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <div *ngIf="!!thing && !thing?.eventDateTime">-</div>
                <div class="event-date-time-container">
                  <span class="event-date-time">
                    {{ thing?.eventDateTime ? (thing?.eventDateTime | date:
                    "dd/MM/yyyy HH:mm") : "" }}
                  </span>
                  <div
                    class="event-direction"
                    *ngIf="thing?.typeAccess !== null"
                  >
                    <img
                      alt="exit"
                      *ngIf="thing?.typeAccess === EventTypeLabels.BusExit || thing?.typeAccess === EventTypeLabels.AuthorizedExit"
                      src="../../../assets/icons/exit_icon.svg"
                      [matTooltip]="thing?.typeAccess === EventTypeLabels.BusExit ? ('ICONS.BUS_EVENT_EXIT' | translate) : ('ICONS.AUTHORIZED_EXIT' | translate)"
                    />
                    <img
                      *ngIf="thing?.typeAccess === EventTypeLabels.BusEntrance || thing?.typeAccess === EventTypeLabels.AuthorizedEntrance "
                      alt="entrance"
                      src="../../../assets/icons/entrance_icon.svg"
                      [matTooltip]="thing.typeAccess === EventTypeLabels.BusEntrance  ? ('ICONS.BUS_EVENT_ENTRANCE' | translate) : ('ICONS.AUTHORIZED_ENTRANCE' | translate)"
                    />
                    <img
                      *ngIf="thing?.typeAccess === EventTypeLabels.DeniedEntrance"
                      alt="denied entrance"
                      src="../../../assets/icons/denied_entrance.svg"
                      [matTooltip]="'ICONS.DENIED_ENTRANCE' | translate"
                    />
                    <img
                      *ngIf="thing?.typeAccess === EventTypeLabels.DeniedExit"
                      alt="denied exit"
                      src="../../../assets/icons/denied_exit.svg"
                      [matTooltip]="'ICONS.DENIED_EXIT' | translate"
                    />
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="lastLocation">
              <th mat-header-cell mat-sort-header="latitude" *matHeaderCellDef>
                {{ "LIST.LAST_LOCATION" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <div *ngIf="!!thing && !thing?.latitude">-</div>

                <app-mini-map
                  [eventType]="thing?.eventType"
                  [eventDirection]="thing?.eventDirection"
                  [latitude]="thing?.latitude"
                  [longitude]="thing?.longitude"
                  [middleware]="thing?.middleware"
                >
                </app-mini-map>
              </td>
            </ng-container>
            <ng-container matColumnDef="middleware">
              <th
                mat-header-cell
                mat-sort-header="middleware"
                *matHeaderCellDef
                scope="col"
              >
                {{ "LIST.LOCATION_TYPE" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <div *ngIf="!!thing && !thing?.middleware">-</div>
                <div
                  class="item-table middleware-type-column"
                  [title]="thing?.middleware ? thing?.middleware : '' "
                >
                  {{ thing?.displayName ? thing?.displayName : "" }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="device">
              <th mat-header-cell mat-sort-header="deviceId" *matHeaderCellDef>
                {{ "LIST.DEVICE_NUMBER" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <div *ngIf="!!thing && !thing?.deviceId">-</div>
                <div
                  class="item-table"
                  [title]="thing?.deviceId ? thing.deviceId : ''"
                >
                  {{ thing?.deviceId ? thing.deviceId : "" }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="cameraName">
              <th
                mat-header-cell
                mat-sort-header="cameraName"
                *matHeaderCellDef
              >
                {{ "LIST.CAMERA_NAME" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <div *ngIf="!!thing && !thing?.cameraName">-</div>
                <div
                  class="item-table"
                  [title]="thing?.cameraName ? thing.cameraName : ''"
                >
                  {{ thing?.cameraName ? thing.cameraName : "" }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="fence">
              <th
                mat-header-cell
                mat-sort-header="fence"
                *matHeaderCellDef
                scope="col"
              >
                {{ "LIST.VIRTUAL_FENCE" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <ng-container *ngIf="!thing?.isMultiFence; else multi">
                  <div>{{ thing?.fences ? thing.fences : "-" }}</div>
                </ng-container>
                <ng-template #multi>
                  <div>
                    {{ "LIST.MULTIPLE_FENCES" | translate }}
                    <mat-icon
                      class="header__icon icon-tooltip"
                      matTooltipClass="multiline-tooltip"
                      [matTooltip]="formatFences(thing?.fences)"
                    >
                      info_outline
                    </mat-icon>
                  </div>
                </ng-template>
              </td>
            </ng-container>

            <ng-container matColumnDef="companyName">
              <th
                mat-header-cell
                mat-sort-header="companyName"
                *matHeaderCellDef
                scope="col"
              >
                {{ "LIST.COMPANY" | translate }}
              </th>
              <td mat-cell *matCellDef="let thing">
                <div class="skeleton table" *ngIf="!thing"></div>
                <div *ngIf="!thing?.companyName">-</div>
                {{ thing?.companyName }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="tableColumns; sticky: true"
              class="table-header"
            ></tr>
            <tr mat-row *matRowDef="let thing; columns: tableColumns"></tr>
          </table>
        </div>
        <div style="display: flex; justify-content: center">
          <app-paginator
            [total]="(thingsAsPaginatedList$ && (thingsAsPaginatedList$ | async).totalCount) ||  (thingsCount$ | async) || 1"
            [pageSize]="(thingsAsPaginatedList$ && (thingsAsPaginatedList$ | async).perPage) || 0"
            [currentPage]="(thingsAsPaginatedList$ && (thingsAsPaginatedList$ | async).page) || 1"
            (onChangePage)="onChangePage($event)"
          ></app-paginator>
        </div>
      </app-card>
    </section>
  </div>
</section>
