.information-box-battery {
  text-align: center;
}

.image-battery-box {
  display: flex;
  width: 50%;
  margin-left: 15%;
  justify-content: flex-end;
}

.battery-percentage {
  display: flex;
  justify-content: center;
}

.image-battery {
  height: 20px;
  justify-items: end;
}
