.checkbox-loader-container {
  display: flex;
  align-items: center;
  height: 24px;

  & > label {
    color: #909193;
    font-size: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 8px;
  }

  .mat-spinner {
    margin: 0 !important;
  }
}

.mat-checkbox-layout .mat-checkbox-label {
  white-space: normal;
}
