.poi-page-container {
  height: 100%;
  display: flex;
}

.poi-page-left-column-container {
  transition: 0.3s;
  position: relative;
}

.poi-page-pois-tab-container {
  padding: 24px;
  overflow-y: auto;
  height: Calc(100% - 16px);
}

.poi-page-right-column-container {
  flex: 1;
  .gm-fullscreen-control {
    display: none;
  }

  .gmnoprint {
    right: 0px;
    left: auto !important;
  }

  .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    right: 0px !important;
  }
}
.mat-tab-body.mat-tab-body-active {
  max-height: calc(100vh - 106px) !important;
}

.mat-tab-header-pagination.mat-tab-header-pagination {
  display: none !important;
}

.close-icon {
  justify-self: end;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 12px;
  z-index: 10;
  color: #909193;
}

mat-form-field {
  width: 100%;
}
