.overlay-info-container {
  min-height: 86px;
  width: 436px;
  background-color: white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);

  & > section {
    padding: 18px 24px;
  }

  .container__button {
    width: 100%;
  }
}
