:host {
  display: grid;
  grid-template-columns: 426px 1fr;
  height: 100%;

  .tab-content {
    padding: 20px 24px;
    height: 100%;

    hr {
      clear: both;
      display: block;
      margin: 24px 0;
      height: 1px;
      width: 100%;
      background-color: #c7c8c9;
      border: none;
    }

    .tab-content__overflow {
      overflow-y: auto;
      max-height: calc(100vh - 250px);

      .form {
        height: 100%;
        display: flex;
        flex-direction: column;

        .form__field {
          margin-bottom: 16px;
        }
      }
    }

    .buttons {
      div {
        display: flex;

        app-button {
          flex: 1;

          &:first-of-type {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
