<?xml version="1.0" ?>
<configuration>
    <system.web>
        <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
              <requestLimits maxUrl="10999" maxQueryString="2097151" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
              <!--START REDIRECT TO HTTPS-->
              <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                      <add input="{HTTPS}" pattern="off" />
                      <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <!--END REDIRECT TO HTTPS-->
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
    </system.webServer>
</configuration>
