<div class="select-big-name" [ngStyle]="{ 'width.px': _itemSelected ? width : 210 }">
  <mat-select
    class="select-big"
    disableOptionCentering
    placeholder="{{ placeholder | translate }}"
    [(ngModel)]="_itemSelected"
  >
    <mat-option
      *ngFor="let item of itemList"
      [value]="item[dataBind]"
      (click)="onOptionSelectedEmitter(item)"
    >
      {{ item[dataValue] }}
    </mat-option>
  </mat-select>
</div>
<span
  #hiddenText
  style="
    visibility: hidden;
    white-space: pre;
    font-size: 32px;
    font-weight: 900;
    position: absolute;
  "
>
  {{ _itemSelected }}
</span>
