.site-selector-name {
  color: black;
  height: 38px;
  margin-right: 46px;
}

.site-selector {
  .mat-select-value-text {
    font-weight: 500;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.site-selector .mat-select-value-text {
  font-weight: 900 !important;
  font-size: 32px !important;
}
