.flights-and-gates-people-page-container {
  display: flex;
  flex-direction: column;
  padding: 42px 56px;
}

.flights-and-gates-people-page-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 30px;
}

.flights-and-gates-people-page-card-container {
  margin-bottom: 42px;
}

.flights-and-gates-people-page-card-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.flights-and-gates-people-page-search-form {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.flights-and-gates-people-page-table-container {
  height: calc(100% - 60px);
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
}

.flights-page-selector-name {
  opacity: 0.8;
  color: #252727;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
