<div class="container">
  <div class="col">
    <div class="div"><mat-icon class="icon">check_circle</mat-icon></div>
    <div class="div">
      <app-action-button mat-icon-button (action)="onClickHandle()">
      </app-action-button>
    </div>
  </div>
  <div class="header-container">
    <div class="content-div">
      <h3 class="title">{{ 'EXPORTATION_DONE_MODAL.TITLE' | translate }}</h3>
      <label class="sub-title">{{
        'EXPORTATION_DONE_MODAL.SUBTITLE' | translate
      }}</label>
    </div>
  </div>
</div>
