:host {
  height: 100%;
}

.toolbar-user-container {
  height: 100%;
  position: relative;
  cursor: pointer;

  .toolbar-user-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    padding: 0px 20px;

    .name {
      color: #252727;
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
    }

    .icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      transform: rotate(0);
      transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &.open {
      background: rgba(0, 0, 0, 0.05);

      .icon {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown {
    background: #fff;
    position: absolute;
    right: 0;
    width: 100%;
    min-width: 160px;
    z-index: -1;
    transform: translateY(-110%);
    visibility: hidden;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
      visibility 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    .content {
      .list {
        .item {
          height: 40px;
          padding: 0 16px;
          font-size: 14px;
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon {
            padding-right: 12px;
            font-size: 18px;
            height: 18px;
          }
        }

        .item:hover {
          background: rgba(0, 0, 0, 0.04);
        }
      }
    }

    &.open {
      z-index: 2;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.dropdown {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
