@import '../../../scss/vale.variables';
.chart-legend {
  display: grid;
  justify-content: center;
  margin-top: 20px;
  padding-left: 30px;
  row-gap: 10px;
  grid-template-columns: repeat(3, auto);

  .item-legend {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .circle-item {
      margin-right: 7px;

      .circle {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        display: inline-block;
      }
    }

    .item-label {
      font-family: $font-body1;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #acadae;
    }
  }
}

.label-date {
  padding-left: 15.5px;
  margin-top: 25px;

  .label-text {
    font-family: $font-body1;
    font-style: normal;
    font-weight: 400;
    color: #252727;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.canvas {
  margin-top: 10px;
  height: 190px !important;
}

.no-content {
  text-align: center;
  padding: 90px 0;

  span {
    font-family: $font-body1;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}
