.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  align-items: center;
}

.fences-accordion-title-name {
  margin-left: 16px;
  cursor: pointer;
}

.mat-expansion-panel-body {
  padding: 16px !important;
}

.mat-expansion-panel-header {
  height: 36px !important;
  padding: 0px 16px !important;
}

.mat-expansion-indicator::after {
  margin-top: -4px;
}

.poi-accordion-header-container {
  display: flex;
  align-items: center;

  & > div:first-child {
    transform: scale(0.7);
    margin-left: -5px;
  }

  & > div:last-child {
    margin-left: 16px;
  }
}

.poi-accordion-trash-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  & > img {
    cursor: pointer;
  }
}
